<ul>
	<% @projects.each do |project|%>
		<li>
			<a href="/projects/<%= project.id%>"><%= project.name%></a>
			<% if project.description != nil %> 
				- <%= project.description%>
			<%end%>
		</li>
	<% end %>
</ul>

